body {
	
}

#nav {
	background-color: red;
	height: 100%;
    width: 20%;
	text-align: right;
	float: left;
}

#content {
	background-color: green;
	height: 100%;
    width: 80%;
	text-align: right;
	float: right;
}