body {
	
}

#logo {
	width: 90px; 
	height: 80px;
}

#bordeizq{
	float:left;
	background:#CC6600;
	padding: 10px;
}

#bordeder{
	float:left;
	background:#000FFF;
	padding: 10px;
	
}

#pie {
	font-size: 10px;
	text-align: left;
}

.negrita {
	font-weight: bolder;
}

#cabecera {
	text-align: center;
}