body {
	background: black;
	color: white;
	font-family: 'Poppins', sans-serif;
	text-align: justify;
}

h1 {
	font-family: 'Anton', sans-serif;
	font-size: 40px;
	text-align: center;
	color: #ccb3ff;
}

#puja {
	color: #66d9ff;
}

#imagen {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.subtitul {
	text-align:center;
}

#copyright {
	font-size: 8px;
}
