.titol {
	background-color: #DD00DD;
}

.titol-original {
	background-color: pink;
}

.autor {
	background-color: #00CCCC;
}

.any {
	background-color: #EEF7B1;
}

.preu {
	background-color: #F4CE68;
}

.cabecera {
	background-color: black;
}

table {
	border: 0,5px;
}